<ul>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/all_aboard.wav"></audio>All Aboard!</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Applause.wav"></audio>Applause</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Baby.wav"></audio>Baby</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Bear.wav"></audio>Bear</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Boo.wav"></audio>Boo</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Bowling_Pins.wav"></audio>Bowling Pins</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Bull.wav"></audio>Bull</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Buzzer.wav"></audio>Buzzer</button>
  </li>
  <li>
  <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Dont-Buy.wav"></audio>Dont-Buy</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Flatline.wav"></audio>Flatline</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Gong.wav"></audio>Gong</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Ka-Ching.wav"></audio>Ka Ching</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Machine_Gun.wav"></audio>Machine Gun</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Man_Out Window.wav"></audio>Window Dive</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Punching_Bag.wav"></audio>Punching Bag</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Shotgun.wav"></audio>Shotgun</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Stars_Stripes.wav"></audio>Stars and Stripes</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Sub_Dive.wav"></audio>Sub Dive</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Tah_Dah.wav"></audio>Tah Dah</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/Train_Wreck.wav"></audio>Train Wreck</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/electric_shock.wav"></audio>Electric Shock</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/hallelujah.wave"></audio>Hallelujah!</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/house_of_pain.wav"></audio>House of Pain</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/house_pleasure.wav"></audio>House of Pleasure</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/oooOO.wav"></audio>oooOO</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/mad_money/sell_sell.wav"></audio>Sell!</button>
  </li>
</ul>