<ul>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/agrail.wav"></audio>A Grail??</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/bedwet.wav"></audio>Bed Wetter</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/biscuit.wav"></audio>Biscuit</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/bitelegs.wav"></audio>I'll bite your legs</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/bleed.wav"></audio>What're you gonna do?</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/coconut.wav"></audio>Just two coconuts</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/dead.wav"></audio>Dead</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/french.wav"></audio>French</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/grenade.wav"></audio>Grenade</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/hamster.wav"></audio>Hamster</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/happy.wav"></audio>I feel happy</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/jc.wav"></audio>Jesus Christ!</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/knights.wav"></audio>We are the knights...</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/mustbe.wav"></audio>Must be a king...</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/ni.wav"></audio>Ni!</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/ordinary.wav"></audio>Just an ordinary rabbit...</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/runaway.wav"></audio>Run away!</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/whokill.wav"></audio>Let's not argue...</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/monty_python/wound.wav"></audio>It's just a flesh wound</button>
  </li>
</ul>