<ul>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/howdoin.mp3"></audio>How we doin?</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/doeshelook.mp3"></audio>Does he look?</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/correct.mp3"></audio>Correctamundo?</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/smarthmf.mp3"></audio>You're smart</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/dontblowoff-2.mp3"></audio>Don't blow this off</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/tastyb.mp3"></audio>Tasty Burger</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/bigkahb.mp3"></audio>Big Kahuna Burger</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/mushroom.mp3"></audio>Mushroom Cloud</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/nono.mp3"></audio>No</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/outface.mp3"></audio>Get out of my face</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/tastyb-2.mp3"></audio>I do love the taste</button>
  </li>
  <li>
    <button onclick="this.firstChild.play()" class="button"><audio src="../../data/pulp_fiction/breakc.mp3"></audio>Did I break your concentration?</button>
  </li>
</ul>