<!--views/signin.erb-->
<h1 class="welcome">Welcome to the Captain's Cockpit!</h1>
<br>
<form method="post" action="/signin">
  <div class="signin">
    <label for="username">Username:</label>
    <input name="username"/>
  </div>
  <br>
  <div class="signin">
    <label for="password">Password:</label>
    <input name="password" type="password"/>
  </div>
  <br>
  <button class="welcome" type="submit">Sign in</button>
</form>
